.body {
    margin: 20px auto;
    width: 700px;
}
.body .card{
    display: flex;
    flex-direction: column;
  text-align:start;
}
.edit-btn{
  padding: 5px 15px;
  background-color: #f24f1d;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.delete-btn{
  padding: 5px 15px;
  background-color: red;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.more-btn{
  padding: 5px 15px;
  background-color:#8c8c9b;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.share-btn{
  padding: 5px 15px;
  background-color:#2a2abd;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.header-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}